body {
    background: rgb(230, 217, 173);
    background-size: 71.6%;
}
.column-border {
    border-left: 3px solid #36333a;
    padding: 10px;
    /*border-bottom-style: inset;
    border-bottom: 2px solid #36333a;
    box-shadow: 0 30px 40px rgba(255, 255, 255, 0.9);*/    
}
.transbox{
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.sidebox{
    height: 23vh;
    text-align:left;
    color:white;
    padding-top:1em;
    padding-left:1em;
}
.sidebox p {
    font-size: 0.7em;
  }
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.big-img{
    position: fixed;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
